<!DOCTYPE html>
@using DataAccessLayer.Models
@using KE03_INTDEV_SE_1_Base.Helpers
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header class="homebar">

        <!-- Logo -->
        <div class="logo">
                @* <img src="~/images/Logo.png" alt="Logo"> *@
            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><img src="~/images/Logo.png" alt="Logo"></a>
            <p>Matrix Inc.</p>
        </div>

        <!-- Search bar -->
        <div class="search">
            <input type="text" placeholder="Zoek producten...">
        </div>

       
     
        <!-- Icons -->
        <div class="icons">

            <!-- Filter option-->
            <img src="~/images/filteren.png" alt="Icon">

            <!-- Account -->
            <img src="~/images/Icon.png" alt="Icon">

            <!-- Wishlist -->
            <img src="~/images/Wishlist.png" alt="Wishlist">

            <!-- Cart -->
            <span class="icon" id="cart-icon">
                <img src="~/images/Cart.png" alt="Cart">
                @{
                        var cart = Context.Session.GetObject<List<CartItem>>("cart") ?? new List<CartItem>();
                        var cartCount = cart.Sum(x => x.Quantity);

                }

                <span>@cartCount</span>
            </span>

        </div>

    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>